{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "0.6.532"}
  org.elasticsearch.client/elasticsearch-rest-client {:mvn/version "7.6.2"}
  org.elasticsearch.client/elasticsearch-rest-client-sniffer
  {:mvn/version "7.6.2"
   :exclusions [com.fasterxml.jackson.core/jackson-core]}
  cc.qbits/commons {:mvn/version "0.5.2"}
  cheshire {:mvn/version "5.9.0"}
  ring/ring-codec {:mvn/version "1.1.2"}}

 :paths ["src/clj"]

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :cljfmt {:extra-deps {com.jameslaverack/cljfmt-runner {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                                                  :sha "fc12c2724c44185cd1b221a79c8486c73846f14c"
                                                                  :exclusions [cljfmt]}
                                 cljfmt {:mvn/version "0.6.4"}}
                    :main-opts ["-m" "cljfmt-runner.check"]}
           :cljfmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]}}}
