{:exoscale.project/lib cc.qbits/spandex
 :exoscale.project/version-file "VERSION"
 :exoscale.project/deploy? true
 :slipset.deps-deploy/exec-args {:installer :remote
                                 :sign-releases? false
                                 :repository "clojars"}

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  org.elasticsearch.client/elasticsearch-rest-client {:mvn/version "8.10.0"}
  org.elasticsearch.client/elasticsearch-rest-client-sniffer {:mvn/version "8.10.0"}
  cc.qbits/commons {:mvn/version "0.5.2"}
  cheshire/cheshire {:mvn/version "5.11.0"}
  ring/ring-codec {:mvn/version "1.1.2"}}

 :paths ["src/clj"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {eftest/eftest {:mvn/version "0.6.0"}
                      orchestra/orchestra {:mvn/version "2021.01.01-1"}}}
  :project
  {:extra-deps {io.github.exoscale/tools.project {:git/sha "5f24196ebea4dc6e601d201d97b463ea26923c7e"}}
   :ns-default exoscale.tools.project
   :jvm-opts ["-Dclojure.main.report=stderr"]}
  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "c5320cbe311b651a60b47f4d00d7e8ab63291b6e"}}
   :main-opts ["-m" "babashka.cli.exec" "quickdoc.api" "quickdoc"]}}}
